<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>



  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" requirePermission="false"/>
    </sectionGroup>
    <section name="rpc" type="CITI.EVO.Rpc.Config.RpcSection, CITI.EVO.Rpc"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="permissionConfig" type="CITI.EVO.Tools.Security.Configs.PermissionElementSection, CITI.EVO.Tools"/>
  </configSections>

  <appSettings>
    <add key="TrnEditPage" value="http://localhost/Rnsf/Gms/Gms.Portal.Web/Pages/Management/ChangeTranslation.aspx"/>
    <add key="ProfileForms" value="6320E740-820A-4C63-8A00-69D1DD7C50F1, 30DAE979-8416-45AF-A122-8D54B403F121"/>
    <add key="LegalForms" value="A0803257-69E6-420C-A661-56CD5E835C23"/>
    <add key="MongoDatabaseName" value="GMS"/>
    <add key="PopupsAutoControl" value="True"/>
    <add key="FormPrintTemplate" value="~/Pages/Templates/Default.html"/>
    <add key="EnableTranslations" value="true"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\UserManagement_Traces.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="PortalConnectionString" connectionString="Data Source=evolution.ge;Initial Catalog=GMS_Portal;User ID=sa;Password=@citi_evo_hitman47@"
			providerName="System.Data.SqlClient"/>
    <add name="MongoConnectionString" connectionString="mongodb://admin:%40citi_evo_hitman47%40@evolution.com.ge:27017/GMS?authMechanism=SCRAM-SHA-1"
			providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
    <GCCpuGroup enabled="true"/>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
  <system.web>
    <globalization culture="ka-GE" uiCulture="ka-GE"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Data.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxGauges.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v16.1.Design, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxTreeList.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxThemes.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.RichEdit.v16.1.Core, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Docs.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" styleSheetTheme="default" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ce" namespace="CITI.EVO.Tools.Web.UI.Controls" assembly="CITI.EVO.Tools"/>
        <add tagPrefix="ce" tagName="LangSwitcher" src="~/Controls/LangSwitcher.ascx"/>
        <add tagPrefix="ce" tagName="MessageControl" src="~/Controls/MessageControl.ascx"/>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxTreeList" assembly="DevExpress.Web.ASPxTreeList.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Handlers/RpcClient.rpc" type="CITI.EVO.Rpc.Handlers.RpcClientHandler, CITI.EVO.Rpc"/>
      <add verb="GET,POST" path="DX.ashx" validate="false" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.6.1" executionTimeout="600" maxRequestLength="2147483647" enableVersionHeader="false" requestValidationMode="2.0"/>
    <sessionState mode="InProc" cookieless="false" timeout="30"/>
    <machineKey validationKey="F9E2BAD7FEBB524139E1FDA62323CE063716D11FF2EB76A1FB602B88A59774A2A80E335C58C8B2EDD7AAEC9C90802B410E2C6FE28C1F17DF114931D7DFAB7208" decryptionKey="B59DC16885C67B8041243DE227B45A6ECA0764BA5568F9F2078F7301763A25C8" validation="SHA1" decryption="AES"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="rnsf.gms@gmail.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" enableSsl="true" userName="rnsf.gms@gmail.com" password="@RNSF_123_GMS@"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
    </modules>
    <handlers>
      <!--<add name="CssMinimizer" preCondition="integratedMode" verb="*" path="*.css" type="CITI.EVO.Tools.Web.Handlers.CssMinimizerHandler, CITI.EVO.Tools"/>-->
      <add name="RpcClientHandler" preCondition="integratedMode" verb="*" path="Handlers/RpcClient.rpc" type="CITI.EVO.Rpc.Handlers.RpcClientHandler, CITI.EVO.Rpc"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ASPxHttpHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DX.ashx" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.1, Version=16.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="SecureHibernateConfigFile" preCondition="integratedMode" verb="*" path="Hibernate.cfg.xml" type="System.Web.HttpForbiddenHandler"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" accessibilityCompliant="false" doctypeMode="Html5" embedRequiredClientLibraries="false"
			checkReferencesToExternalScripts="false" ieCompatibilityVersion="edge"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <log4net>
    <!-- Example of how to configure the LogRollingFileAppender	-->
    <appender name="ServiceLoginLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\ServiceLoginLog"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <!--<maxSizeRollBackups value="10" />-->
      <!--<maximumFileSize value="10KB" />-->
      <datePattern value="'_'yyyy.MM.dd-HH'.log'"/>
      <staticLogFileName value="true"/>
      <encoding value="utf-8"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        -->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ExpressionErrorLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\ExpressionErrorLog"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <!--<maxSizeRollBackups value="10" />-->
      <!--<maximumFileSize value="10KB" />-->
      <datePattern value="'_'yyyy.MM.dd-HH'.log'"/>
      <staticLogFileName value="true"/>
      <encoding value="utf-8"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        -->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="LoginLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\LoginLog"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <!--<maxSizeRollBackups value="10" />-->
      <!--<maximumFileSize value="10KB" />-->
      <datePattern value="'_'yyyy.MM.dd-HH'.log'"/>
      <staticLogFileName value="true"/>
      <encoding value="utf-8"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        -->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!-- Example of how to configure the LogConsoleAppender	-->
    <appender name="LogConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>-->
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogConsoleAppender"/>
    </root>
    <logger name="ServiceLoginLogger">
      <level value="ALL"/>
      <appender-ref ref="ServiceLoginLogRollingFileAppender"/>
      <!--<appender-ref ref="SmtpAppender" />-->
    </logger>
    <logger name="LoginLogger">
      <level value="ALL"/>
      <appender-ref ref="ServiceLoginLogRollingFileAppender"/>
      <!--<appender-ref ref="SmtpAppender" />-->
    </logger>
    <logger name="ExpressionLogger">
      <level value="ALL"/>
      <appender-ref ref="ExpressionErrorLogRollingFileAppender"/>
      <!--<appender-ref ref="SmtpAppender" />-->
    </logger>  
  </log4net>
  <permissionConfig>
    <settings moduleID="24558F00-AA98-47A1-83A4-171F71C78952" 
              moduleName="Gms.Portal.Web"
              loginPage="http://localhost/Rnsf/Gms/CITI.EVO.UserManagement.Web/Pages/User/Login.aspx"
			        logoutPage="http://localhost/Rnsf/Gms/CITI.EVO.UserManagement.Web/Pages/User/Logout.aspx"
			        changePasswordPage="http://localhost/Rnsf/Gms/CITI.EVO.UserManagement.Web/Pages/User/ChangePassword.aspx" 
			        ignoreGroupMembership="true" 
              enabledHierachycalSearch="false"/>
    <permissions>
      <add permissionKey="Org"              resourcePath="Roles/Org"              ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="User"             resourcePath="Roles/User"             ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Admin"            resourcePath="Roles/Admin"            ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Submit"           resourcePath="Roles/Submit"           ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Scores"           resourcePath="Roles/Scores"           ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Forms"            resourcePath="Roles/Forms"            ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Logics"           resourcePath="Roles/Logics"           ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Events"           resourcePath="Roles/Events"           ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Expert"           resourcePath="Roles/Expert"           ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Report"           resourcePath="Roles/Report"           ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Contact"          resourcePath="Roles/Contact"          ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="CurrData"         resourcePath="Roles/CurrData"         ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Foreinger"        resourcePath="Roles/Foreinger"        ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Geocitizen"       resourcePath="Roles/Geocitizen"       ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Categories"       resourcePath="Roles/Categories"       ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="Collections"      resourcePath="Roles/Collections"      ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="DataApprove"      resourcePath="Roles/DataApprove"      ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="UserMessages"     resourcePath="Roles/UserMessages"     ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="UserManagement"   resourcePath="Roles/UserManagement"   ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="RecipientGroups"  resourcePath="Roles/RecipientGroups"  ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="FormDataArchive"  resourcePath="Roles/FormDataArchive"  ruleValue="View|Add|Edit|Delete"/>
      <add permissionKey="AssessedProjects" resourcePath="Roles/AssessedProjects" ruleValue="View|Add|Edit|Delete"/>
    </permissions>
  </permissionConfig>
  <rpc>
    <client serverUrl="http://localhost/Rnsf/Gms/CITI.EVO.RpcHub.Web/Handlers/RpcServer.rpc" userName="" password="" compression="lz"/>
  </rpc>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
				type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
				type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
