<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        თქვენ წამატებით დარეგისტრირდით სისტემაში.
    </div>
    <table>
        <tr>
            <td>მომხმარებელი:</td>
            <td>$!{user.LoginName}</td>
        </tr>
        <tr>
            <td>პაროლი:</td>
            <td>$!{user.Password}</td>
        </tr>
    </table>
    <div>
        სისტემაში შესასვლელად გთხოვთ მიყვეით <a href="http://192.168.100.111/Rnsf/Gms/CITI.EVO.UserManagement.Web/Pages/User/Activate.aspx?UserCode=$!{user.UserCode}&languagePair=ka-GE">[ბმულს]</a>
    </div></body>
</html>
