<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommonDataWcf" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://212.72.135.243:5432/MIS/MIS.Common.Web/Services/CommonDataWcf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonDataWcf"
                contract="CuratioCommon.ICommonDataWcf" name="BasicHttpBinding_ICommonDataWcf" />
        </client>
    </system.serviceModel>
</configuration>